@charset"UTF-8";

.rsttop-search__title{
    padding: 50px 0px;
    font-size: 30px;
}


.rsttop-area-search__items{
    display: inline-block;
    
}

.rsttop-area-search__item img{
    width: 15%;
    height: 30px;
}


.rsttop-othersearch__item{
    width: 20%;
    margin: 0 auto;
    float:left;
}

.rsttop-othersearch__item img{
    width: 200px;
    border-radius: 30px;
}

.rsttop-servicesearch__item{
    width: 20%;
    margin: 0 auto;
    float:left;
}

.rsttop-servicesearch__item img{
    width: 200px;
    border-radius: 30px;
}
