@charset"UTF-8";

.edit{
	padding: 1rem; 
	margin: 1rem; 
	border: 1px solid dimgray; 
}

textarea,.post_title{
    width: 100%;
    height: auto;
}

.post_images{
    width: 20%;
}

.back,.go{
    display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	font-weight: bold;
	border: 2px solid #5D99FF;
	color: black;
	border-radius: 100vh;
	transition: 0.5s;
}

.go:hover{
    background: #4689FF;
	color: white;
}

.back:hover{
    background: #4689FF;
	color: white;
}
