@charset"UTF-8";

.edit{
	padding: 1rem; 
	margin: 1rem; 
	border: 1px solid dimgray; 
}

textarea,.post_title{
    width: 100%;
    height: auto;
}

.post_images{
    width: 20%;
}

.back,.go{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	text-align: center;
	text-decoration: none;
	margin: auto;
	padding: 1rem 4rem 1rem 3rem;
	font-weight: bold;
	background: #27acd9;
	color: #fff;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}

.go:hover{
    background: #44c6f2;
	color: #fff;
}

.back:hover{
    background: #44c6f2;
	color: #fff;
}
